@model List<VoteForCauseFinal.Models.Domain.CausePost>
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show all posts - Admin</h1>
    </div>

</div>

<div class="container py-5">
    @if(Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Heading</td>
                    <td>Tags</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var causePost in Model)
                {
                    <tr>
                        <td>@causePost.Id</td>
                        <td>@causePost.Heading</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var tag in causePost.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.Name</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area=""
                       asp-controller="AdminCausePost"
                       asp-action="Edit" asp-route-id="@causePost.Id">
                                Edit
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Causes Found</p>
    }

    
</div>